body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.search-section {
    text-align: center;
    margin: 20px;
}

#search-bar {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.featured-section {
    text-align: center;
    margin: 20px;
}

.restaurant-grid {
    
    justify-content: center;
    gap: 20px;
}

.restaurant-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:relative;
    width: 100%;
    bottom: 0;
}




